@media (min-width: 576px) {
  /* login */
  .nav-btn {
    font-size: 18px;
  }
  /* section 1 */
  .section1-title {
    font-size: 40px;
    line-height: 50px;
  }
  .section1-desc {
    margin: 30px 0 30px 100px;
    line-height: 25px;
    font-size: 18px;
  }
  /* section 2 */
  .section2-top {
    flex-direction: row;
  }
  .section2-bottom-crypto-change {
    display: flex;
  }
  .section2-bottom-titles-changeDay {
    display: flex;
  }
  /* section 3 */
  .section3 .container .row {
    display: flex;
    flex-direction: row-reverse;
  }
  .section3-title {
    font-size: 30px;
  }
  /* CurrencyList */
  .CurrencyList-top {
    flex-direction: row;
  }
  .CurrencyList-bottom-crypto-change {
    display: flex;
  }
  .CurrencyList-bottom-titles-changeDay {
    display: flex;
  }
}
@media (min-width: 768px) {
  /* menu */
  .nav-listItems {
    flex-direction: row;
    position: relative;
    height: auto;
    overflow: visible;
    font-size: 16px;
  }
  .nav-listItem{
    margin: 8px;
  }
  /* toggle */
  .nav-toggle {
    display: none;
  }
  /* section 2 */
  .section2-bottom-crypto-charts {
    display: flex;
  }
  .section2-bottom-titles-week {
    display: flex;
    margin-left: 170px;
  }
  /* CurrencyList */
  .CurrencyList-bottom-crypto-charts {
    display: flex;
  }
  .CurrencyList-bottom-titles-week {
    display: flex;
    margin-left: 170px;
  }
}
@media (min-width: 992px) {
  .nav-listItems {
    font-size: 18px;
  }
  .nav-listItem{
    margin: 15px;
  }
  .section2-bottom-titles-week {
    margin-left: 200px;
  }
  .CurrencyList-bottom-titles-week {
    margin-left: 200px;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
