.top {
  margin: 100px 0 20px;
}
.cls-0 {
  display: none;
}
.modebar-group a:last-child {
  display: none;
}
.box-coin {
  width: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--light-gray);
  outline: none;
  text-align: right;
}
